---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-green
  namespace: blue-green
  labels:
    app: demo-app
    version: green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
      version: green
  template:
    metadata:
      labels:
        app: demo-app
        version: green
    spec:
      containers:
        - name: nginx
          image: nginx:stable-alpine-perl
          ports:
            - containerPort: 80
          volumeMounts:
            - name: app-content
              mountPath: /usr/share/nginx/html
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
      volumes:
        - name: app-content
          configMap:
            name: app-config-green
